body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
  .ui.container {
    width: 1400px;
    max-width: 1400px;
  }

  nav.ui.container .ui.header {
    float: left;
    margin-top: 12px;
  }

  nav.ui.container .ui.inverted.compact.menu {
    float: right;
  }
}

.ui.inverted.vertical.center.aligned.segment {
  padding-top: 36px;
}

nav.ui.container .ui.inverted.compact.menu {
  background-color: rgb(51, 51, 51);
}

nav.ui.container .ui.inverted.compact.menu .item {
  padding-bottom: 0;
}

nav.ui.container .ui.inverted.compact.menu .item {
  font-size: 16px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 14px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 0;
}

nav.ui.container .ui.inverted.compact.menu .active.item {
  background-color: inherit;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.ui.inverted.vertical.segment {
  height: 100vh;
  background-color: rgb(51, 51, 51);
}

.ui.content.container {
  /* position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(https://images.unsplash.com/photo-1525307967925-80bbf097f0b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60https://images.unsplash.com/photo-1525307967925-80bbf097f0b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60);
  background-position: 25% 1%;
  background-repeat: no-repeat;
  background-size: cover; */
  height: 300px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* background-image: url("https://images.unsplash.com/photo-1446080501695-8e929f879f2b?fit=crop&fm=jpg&h=725&ixjsv=2.0.0&ixlib=rb-0.3.5&q=80&w=1225");
  background-size: cover; */
}

.ui.content.container h1.header {
  font-size: 36px;
}

.ui.content.container p {
  font-size: 21px;
  line-height: 1.6;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ui.inverted.vertical.segment footer.ui.segment {
  height: 80px;
  width: 100%;
  position: absolute;
  bottom: 0;
  color: gray;
}

.ui.inverted.vertical.segment footer.ui.segment a {
  color: white;
}
