#login-buttons .login-button {
  color: black;
  background: white;
}

#login-buttons-image-google {
  background-image: url("imgs/google-1.png");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  margin-bottom: 50px;
}
