#login-buttons .login-button {
  font-family: "Roboto", sans-serif;
  color: grey;
  background: white;
  border: white;
}

/* #login-buttons .login-image {
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 6px;
  width: 16px;
  height: 16px;
} */

#login-buttons-image-google {
  background-image: url("imgs/gg.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-color: white;
}

#login-buttons .login-button:hover {
  font-family: "Roboto", sans-serif;
  background-color: #4285f4;
  color: white;
}
